<section>
  <div>
   <hr class="linea" size="2px" width="500px" color="white" />
   </div>
   <div class="rrss">
    <a href="#"><img src="assets\Iconos\simbolo-de-la-aplicacion-de-facebook.png" alt="facebook"></a>
		<a href="#"><img src="assets\Iconos\instagram.png" alt="instagram"></a>
    <a href="#"><img src="assets\Iconos\tik-tok.png" alt="tiktok"></a>
    <a href="#"><img src="assets\Iconos\linkedin.png" alt="linkedin"></a>
    <a href="#"><img src="assets\Iconos\soundcloud.png" alt="soundcloud"></a>
    <a href="#"><img src="assets\Iconos\youtube.png" alt="youtube"></a>
    <a href="#"><img src="assets\Iconos\spotify-logo.png" alt="spotify"></a>
  </div>
  <div class="copy">
    <p>©Copyright 2022 - Ander Chia - All Rights Reserved</p>
  </div>
</section>
