<figure>
  <h2 class="titulo">DETAILS</h2>
  <div class="cards">
  <img src="{{artist.image}}">
  <h2>{{artist.name}}</h2>
  <h3>{{artist.year}}</h3>
  <h3>{{artist.genre}}</h3>
  <h4>{{artist.albums}}</h4>
</div>
</figure>
<!-- <figure class="cajabotones">
<div class="botones">
<!-- <button (click)="onGoBack()" class="button-75" role="button"><span class="text">Back</span></button>
<button (click)="onUpdate(artist)" class="button-75" role="button"><span class="text">Edit</span></button>
<button>Delete</button> -->
<!-- </div>
</figure> -->
